server:
  port: 8080
  mode: release
  log_file: ./log
  zone: 8
  language: zh

mysql:
  host: 127.0.0.1
  port: 3306
  user: root
  pass: pass
  database: data
  charset: utf8mb4
  max_idle_conns: 10
  max_open_conns: 50
  conn_max_lifetime: 300